header > div {
  text-align: center;
}
form:first-of-type > input::placeholder {
  color: #add8e6;
}
input:invalid {
  background-color: #be3d3d;
}
input:focus {
  border: 3px solid #000000;
}
.submit {
  text-align: center;
}
input {
  margin: 10px 0;
}
